body {
    font-family: sans-serif;
}

/* *************** header & nav ************** */
header {
    background-color: #fff;
    padding: 2%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header a {
    color: #3f3f3f;
    text-decoration: none;
}

.toggle-icon span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 100px;
    background-color: #3f3f3f;
    display: block;
}

.menu-links li {
    line-height: 40px;
    text-align: center;
}

.menu-links a {
    display: block;
}


header nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

.show-nav {
    max-height: 19rem;
    padding-bottom: 1rem;
}




@media only screen and (min-width: 600px) {
    .toggle-icon {
        display: none;
    }

    header nav {
        max-height: 19rem;
        position: static;
        width: auto;
    }

    .menu-links,
    header {
        display: flex;
        justify-content: space-between;
    }

    .menu-links li {
        padding: 0 5px;
        margin: 0 3px;
    }

    .menu-links li:hover {
        background-color: #dde7e9;
        border-radius: 8px;
    }
}